!!! 5
html
	head= facelock
		link(rel="stylesheet", href="facelock.css")

	body
		div(id="logo")
		div(id="menu")
		div(id="device")
			div(id="start", class="slide")
			div(id="overview", class="slide")

		div(id="footer")
			div(id="github")
				a(href="http://github.com/labryga/facelock", target="_blank")= "GitHub"

		script(src="facelock.js")
