!!! 5
html
	head= facelock
		link(rel="stylesheet", href="facelock.css")

	body
		div(id="logo")
		div(id="menu")

		div(id="frame")

		div(id="slides")
			categories = ["start", "overview", "authorize", "authenticate", "request", "contacts"]
			each item in categories
				img(id=(item), src=(item + ".png"))

		div(id="footer")
			div(id="github")
				div(id="wert")
				div(id="imgx")
				div(id="imgy")
				// a(href="http://github.com/labryga/facelock", target="_blank")= "GitHub"

		script(src="facelock.js")
