!!! 5
html
	head= facelock
		link(rel="stylesheet", href="facelock.css")

	body
		h1= "FACELOCK"
		h2= "Testtext"
		img(src="start.png")
		footer 
			h3= "Footer | Github"
		script(src="facelock.js")
