/*

!/docker-compose
!production.django.Dockerfile
!production.nginx.Dockerfile

!/facelock/

!/gulp/
/gulp/*
!/gulp/gulpfile.js
!/gulp/package.json

!/nginx/

!/staticfiles/

!.gitignore

*.pyc
*.swp

pip-selfcheck.json
