/*

!/docker-compose

!/facelock/

!/gulp/
/gulp/*
!/gulp/gulpfile.js
!/gulp/package.json

!/nginx/

!/staticfiles/

!.gitignore

.env.facelock_database
.env.facelock_django
*.pyc
*.swp

pip-selfcheck.json
