body
  background-color: skyblue
  color: blue
  font-family: sans-serif

#device
  width: 400px
  height: 700px
  background-image: url("7.png")
  background-repeat: no-repeat
  background-size: contain
  background-position: 50%
  margin: 80px auto
  position: relative

#start
  background-image: url("1.png")

#overview
  background-image: url("2.png")

.slide
  background-size: contain
  background-repeat: no-repeat
  background-position: 50%
  width: inherit
  height: inherit
  position: absolute

h1, h2
  width: 300px
  margin: 40px auto
  background-color: yellow
