body
  background-color: steelblue
  color: white
  font-family: sans-serif

#logo
  background-image: url("logo_white.png")
  background-size: contain
  background-repeat: no-repeat
  width: 150px
  height: 150px
  position: absolute
  top: 80px
  left: 50px

#menu
  background-color: 
  background-image: url("logo_white.png")
  background-repeat: no-repeat
  background-size: 90px 90px
  background-position: 40px 40px


#frame
  background-image: url("frame.png")
  // background-color: rgba(210, 10, 50, 0.5)
  width: 350px
  height: 684px
  margin: 80px auto
  position: absolute
  z-index: -5
  left: 50%
  transform: translate(-50%)
  display: block

#start
  background-image: url("start.png")

#overview
  background-image: url("overview.png")

.slide
  background-size: contain
  background-repeat: no-repeat
  background-position: 50%
  width: inherit
  height: inherit
  position: absolute

#footer
  width: 100%
  height: 50px
  color: khaki
  text-align: center
  letter-spacing: 0.5px
  font-weight: light
  position: relative
  top: 830px
  a
    color: cyan
    display: inline-block
    color: khaki


#slides
  // background-color: rgba(110, 110, 50, 0.7)
  width: 350px
  height: 684px
  margin: 80px auto
  position: absolute
  left: 50%
  transform: translate(-50%)
  z-index: -1
  // cursor: pointer
  img
    position: absolute
    z-index: 5
    display: none

